<!DOCTYPE html>
<!--引入静态文件-->
{% load staticfiles %}
<html lang="en">
  <head>
    <title>SIM - 免费在线接码平台 - 信息页面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--  百度统计代码  -->
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?2022492201b2d4c81e9828f8e6bdb2f9";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <!--  django调用静态文件  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/fl-bigmug-line.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
  <body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <!-- 导航栏 -->
    <header class="site-navbar py-1" role="banner">

      <div class="container">
        <div class="row align-items-center">
        <a href="/"><strong>SIM-</strong>在线接码平台</a>
          <div class="col-10 col-xl-10 d-none d-xl-block">
            <nav class="site-navigation text-right" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <!--       公告         -->
                <li><a href="/"><span class="rounded bg-primary py-2 px-3 text-white"><span class="h5 mr-2">+</span> 公告</span></a></li>
              </ul>
            </nav>
          </div>

          <div class="col-6 col-xl-2 text-right d-block">

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>

    </header>

    <div class="site-section bg-light" style="padding-top: 10px">
      <div class="container">
        <!-- 说明 -->
        <div style="padding-bottom: 40px; color: #fe4365">
          <li>在使用前即代表以下条款已同意</li>
          <li>此项目仅限学习交流,请勿用于商业用途</li>
          <li>严禁用作非法用途，所产生的法律后果由使用者自行承担</li>
          <li>请不要使用此号码接受重要内容,由此造成经济损失概不负责</li>
          <li>在使用前你应该知晓下面的电话号码短信内容所有人都可以查看</li>
          <li>禁止将这些电话号码用于政务部门、银行、金融、支付、借贷、快递、网约服务等操作</li>
        </div>

        <!-- 条目 -->
        <div class="row" data-aos="fade">
         <div class="col-md-12">
           <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

              <div class="mb-4 mb-md-0 mr-5">
               <div class="job-post-item-header d-flex align-items-center">
                 <h2 class="mr-3 text-black badge" style="background-color:#fe4365">来自：{{ content0.number }}</h2>
                 <h2 class="bg-primary badge mr-3 text-black h4">{{ content0.time }}</h2>
               </div>
               <div class="job-post-item-body d-block d-md-flex">
                 <div class="mr-3">
                   <a>{{ content0.content }}</a>
                 </div>
<!--                 <div class="badge-wrap">-->
<!--                  <span class="bg-primary text-white badge py-2 px-4">复制</span>-->
<!--                 </div>-->
               </div>
              </div>

           </div>

         </div>
        </div>
        <div class="row" data-aos="fade">
         <div class="col-md-12">
           <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

              <div class="mb-4 mb-md-0 mr-5">
               <div class="job-post-item-header d-flex align-items-center">
                 <h2 class="mr-3 text-black badge" style="background-color:#fe4365">来自：{{ content1.number }}</h2>
                 <h2 class="bg-primary badge mr-3 text-black h4">{{ content1.time }}</h2>
               </div>
               <div class="job-post-item-body d-block d-md-flex">
                 <div class="mr-3">
                   <a>{{ content1.content }}</a>
                 </div>
<!--                 <div class="badge-wrap">-->
<!--                  <span class="bg-primary text-white badge py-2 px-4">复制</span>-->
<!--                 </div>-->
               </div>
              </div>

           </div>

         </div>
        </div>
        <div class="row" data-aos="fade">
         <div class="col-md-12">
           <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

              <div class="mb-4 mb-md-0 mr-5">
               <div class="job-post-item-header d-flex align-items-center">
                 <h2 class="mr-3 text-black badge" style="background-color:#fe4365">来自：{{ content2.number }}</h2>
                 <h2 class="bg-primary badge mr-3 text-black h4">{{ content2.time }}</h2>
               </div>
               <div class="job-post-item-body d-block d-md-flex">
                 <div class="mr-3">
                   <a>{{ content2.content }}</a>
                 </div>
<!--                 <div class="badge-wrap">-->
<!--                  <span class="bg-primary text-white badge py-2 px-4">复制</span>-->
<!--                 </div>-->
               </div>
              </div>

           </div>

         </div>
        </div>
        <div class="row" data-aos="fade">
         <div class="col-md-12">
           <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

              <div class="mb-4 mb-md-0 mr-5">
               <div class="job-post-item-header d-flex align-items-center">
                 <h2 class="mr-3 text-black badge" style="background-color:#fe4365">来自：{{ content3.number }}</h2>
                 <h2 class="bg-primary badge mr-3 text-black h4">{{ content3.time }}</h2>
               </div>
               <div class="job-post-item-body d-block d-md-flex">
                 <div class="mr-3">
                   <a>{{ content3.content }}</a>
                 </div>
<!--                 <div class="badge-wrap">-->
<!--                  <span class="bg-primary text-white badge py-2 px-4">复制</span>-->
<!--                 </div>-->
               </div>
              </div>

           </div>

         </div>
        </div>
        <div class="row" data-aos="fade">
         <div class="col-md-12">
           <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

              <div class="mb-4 mb-md-0 mr-5">
               <div class="job-post-item-header d-flex align-items-center">
                 <h2 class="mr-3 text-black badge" style="background-color:#fe4365">来自：{{ content4.number }}</h2>
                 <h2 class="bg-primary badge mr-3 text-black h4">{{ content4.time }}</h2>
               </div>
               <div class="job-post-item-body d-block d-md-flex">
                 <div class="mr-3">
                   <a>{{ content4.content }}</a>
                 </div>
<!--                 <div class="badge-wrap">-->
<!--                  <span class="bg-primary text-white badge py-2 px-4">复制</span>-->
<!--                 </div>-->
               </div>
              </div>

           </div>

         </div>
        </div>
        <div class="row" data-aos="fade">
         <div class="col-md-12">
           <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

              <div class="mb-4 mb-md-0 mr-5">
               <div class="job-post-item-header d-flex align-items-center">
                 <h2 class="mr-3 text-black badge" style="background-color:#fe4365">来自：{{ content5.number }}</h2>
                 <h2 class="bg-primary badge mr-3 text-black h4">{{ content5.time }}</h2>
               </div>
               <div class="job-post-item-body d-block d-md-flex">
                 <div class="mr-3">
                   <a>{{ content5.content }}</a>
                 </div>
<!--                 <div class="badge-wrap">-->
<!--                  <span class="bg-primary text-white badge py-2 px-4">复制</span>-->
<!--                 </div>-->
               </div>
              </div>

           </div>

         </div>
        </div>

        <!--   翻页     -->
<!--        <div class="row mt-5">-->
<!--              <div class="col-md-12 text-center">-->
<!--                <div class="site-block-27">-->
<!--                  <ul>-->
<!--                    <li><a href="#"><i class="icon-keyboard_arrow_left h5"></i></a></li>-->
<!--                    <li class="active"><span>1</span></li>-->
<!--                    <li><a href="#">2</a></li>-->
<!--                    <li><a href="#">3</a></li>-->
<!--                    <li><a href="#">4</a></li>-->
<!--                    <li><a href="#">5</a></li>-->
<!--                    <li><a href="#"><i class="icon-keyboard_arrow_right h5"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

      </div>
    </div>
    <!--  底部  -->
    <footer class="site-footer">
      <div class="container">


        <div class="row">
          <div class="col-lg-9">
            <div class="row">
              <div class="col-6 col-md-3 col-lg-3 mb-5 mb-lg-0">
                <h3 class="footer-heading mb-4">For Candidates</h3>
                <ul class="list-unstyled">
                  <li><a href="#">Register</a></li>
                  <li><a href="#">Find Jobs</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Search Jobs</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Careers</a></li>
                </ul>
              </div>
              <div class="col-6 col-md-3 col-lg-3 mb-5 mb-lg-0">
                <h3 class="footer-heading mb-4">For Employers</h3>
                <ul class="list-unstyled">
                  <li><a href="#">Employer Account</a></li>
                  <li><a href="#">Clients</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Find Candidates</a></li>
                  <li><a href="#">Terms &amp; Policies</a></li>
                  <li><a href="#">Careers</a></li>
                </ul>
              </div>
              <div class="col-6 col-md-3 col-lg-3 mb-5 mb-lg-0">
                <h3 class="footer-heading mb-4">Archives</h3>
                <ul class="list-unstyled">
                  <li><a href="#">January 2018</a></li>
                  <li><a href="#">February 2018</a></li>
                  <li><a href="#">March 2018</a></li>
                  <li><a href="#">April 2018</a></li>
                  <li><a href="#">May 2018</a></li>
                  <li><a href="#">June 2918</a></li>
                </ul>
              </div>
              <div class="col-6 col-md-3 col-lg-3 mb-5 mb-lg-0">
                <h3 class="footer-heading mb-4">Company</h3>
                <ul class="list-unstyled">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Team</a></li>
                  <li><a href="#">Terms &amp; Policies</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <h3 class="footer-heading mb-4">Contact Info</h3>
            <ul class="list-unstyled">
              <li>
                <span class="d-block text-white">Address</span>
                New York - 2398 10 Hadson Carl Street
              </li>
              <li>
                <span class="d-block text-white">Telephone</span>
                +1 232 305 3930
              </li>
              <li>
                <span class="d-block text-white">Email</span>
                info@yourdomain.com
              </li>
            </ul>

          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
              Copyright &copy; <script data-cfasync="false"></script><script>document.write(new Date().getFullYear());</script> All Rights Reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="http://ip.ccccc.run" target="_blank" >ip.ccccc.run</a>
            </p>
          </div>

        </div>
      </div>
    </footer>
  </div>

  <script src="../static/js/aos.js"></script>
  <script src="../static/js/main.js"></script>

  </body>
</html>

