<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>movie模板文件</title>

</head>
<body>
字符串 {{ str }} <br>
列表 {{ li }} <br>
{% for i in li %}
    <p>{{ i }}</p>
    <p>1111</p>
{% endfor %}
元祖 {{ tu }} <br>
字典 {{ dic }} <br>
函数 {{ test }} <br>
类 {{ fruits }} <br>
<li>1</li>
<li>2</li>
<p>这是一个P标签</p>
<li>在使用前即代表以下条款已同意</li>
        <li>此项目仅限学习交流,请勿用于商业用途</li>
        <li>严禁用作非法用途，所产生的法律后果由使用者自行承担</li>
        <li>请不要使用此号码接受重要内容,由此造成经济损失概不负责</li>
        <li>在使用前你应该知晓下面的电话号码短信内容所有人都可以查看</li>
        <li>禁止将这些电话号码用于政务部门、银行、金融、支付、借贷、快递、网约服务等操作</li>
</body>
</html>